<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunding</title>
  <%= stylesheet_link_tag    "crowdfunding/application", :media => "all" %>
  <%= javascript_include_tag "crowdfunding/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
